/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common styling */

body {
  font-family: "Poppins", sans-serif;
}

/* navbar style */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #16354a, #fb9c1c);
  height: 100px;
}

.navbar-nav li {
  padding: 0 5px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

.navbar-nav ul a {
  float: right;
  text-align: right;
}
.dropdown-menu {
  background-image: linear-gradient(to right, #16354a, #fb9c1c);
}
.dropdown-item {
  color: aliceblue;
}

/* Banner Section */

.title {
  margin-top: 80px;
}
#join-bg {
  background-color: #fb9c1c;
  border-radius: 20px;
}
.join-btn {
  text-decoration: none;
  color: black;
}

#banner-photo img {
  height: auto;
  width: 90%;
}

.logo-img {
  margin-top: -25px;
  margin-left: 125px;
  transition: ease transform 3s;
}

.logo-img:hover {
  transform: scale(1.1);
}

/* slides part */
#slides-part img {
  border-radius: 10px;
}

/* What is YEF */
#about-yef h1 {
  margin-top: 30px;
  text-align: center;
}

#about-yef p {
  text-align: center;
  margin-bottom: 50px;
}

.yef {
  color: #fb9c1c;
}

.title-2::before {
  content: "";
  background: #16354a;
  height: 5px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transform: translateY(63px);
}

.title-2::after {
  content: "";
  background: #16354a;
  height: 10px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

/* social media section */
#social-media {
  background: #f8f9fa;
  padding: 100px 0;
}

#social-media h2 {
  margin-bottom: 30px;
}
.social-icons img {
  width: 60px;
  height: auto;
  transition: 0.5s;
  padding: 5px;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}

.title-3::before {
  content: "";
  background: #16354a;
  height: 5px;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transform: translateY(63px);
}

.title-3::after {
  content: "";
  background: #16354a;
  height: 10px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(17px);
}
